$DarkYellow: #F69F21;
$Darkeryellow: #ff9500;
$LightBrown: #F69F214F;
$LightPink: #EEDDCC;
$BackgroundGradient: linear-gradient(360deg, #F69F21 -21.17%, #F69F21 115.88%);
$black: #000;
$white: #fff;
$DarkBrown: #34251F;
$dark: #221C14;
$brown: #413531;
$footColor: #F69F217D;
$border: #999;
$back: #F2F2F2;